*{
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
a:link,a:visited{
    text-decoration:none;  /*超链接无下划线*/
}
.clearfix::after{
    visibility: hidden;
    display: block;
    clear: both;
    content: ".";
    height: 0;
}
.clearfix{
    zoom: 1;
}
body{
    background-color: #fff;
}
.fixnavbar{ padding-bottom: 80px; }
/*******底部********/
div.foot{
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
}
div.foot ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
}
div.foot ul li{
    float: left;
    text-align: center;
    padding: 5px 0 5px 0;
}
div.foot ul li p{
    margin: 0;
    color: #1b1e21;
    font-size: 0.8em;
}
div.foot ul li a img{
    width: 60%;
}
div.foot ul li a p.first{
    color: #FFD457;
}


.flex {
	display: flex;
	display: -webkit-flex;
}

.flex_1 {
	flex: 1;
}

.flex_center {
	align-items: center;
}

.flex_just {
	justify-content: center;
}

.flex_bettwen {
	justify-content: space-between;
}

.flex_around {
	justify-content: space-around;
}

.flex_column {
	flex-direction: column;
}
.flex_wrap_box {
	justify-content:flex-start;
	flex-wrap: wrap;
}
.flex_wrap_box img.upload_img {
	width: 100px;
	height: 100px;
	margin-right: 20px;
	margin-bottom: 20px;
}
