<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<title>物品二维码绑定</title>
	</head>
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/index_css/bangd.css">
	<link rel="stylesheet" href="../css/weui.min.css">

	<body>
		<div id="app">
			<ul>
				<li>
					<p>
						识别码
						<span class="first-child">{{qrCode}}</span>
					</p>
				</li>
				<li>
					<label for="">
            物品名称
        </label>
					<input v-model="materialName" type="text" placeholder="请输入物品名称">
				</li>
				<li>
					<label for="">
            物品类型
        </label>
					<input v-model="materialTypeValue" readonly="readonly"  @click="getMaterialTypeList" type="text" placeholder="请选择">
					<img src="../imgs/index_img/right.png" alt="">
				</li>
				<li @click="selectStartData">
					<label for="">
            生产日期
        </label>
					<input readonly="readonly" v-model="producedDate" type="text" placeholder="请选择">
					<img src="../imgs/index_img/right.png" alt="">
				</li>
				<li @click="selectEndData">
					<label for="">
            过期日期
        </label>
					<input readonly="readonly" v-model="expireDate" type="text" placeholder="请选择">
					<img src="../imgs/index_img/right.png" alt="">
				</li>
				<li @click="getCheckSpecificList">
					<label for="">
            检查规范
        </label>
					<input readonly="readonly" v-model="checkSpecificId" type="text" placeholder="请选择">
					<img src="../imgs/index_img/right.png" alt="">
				</li>
				<li>
					<p>
						所属区域
						<input v-model="regionId" type="text" placeholder="请选择">
						<img src="../imgs/index_img/right.png" alt="">
					</p>
				</li>
				<li>
					<p>
						所属企业
						<input v-model="enterpriseId" type="text" placeholder="请选择（选填）">
						<img src="../imgs/index_img/right.png" alt="">
					</p>
				</li>
				<li>
					<label for="">
            所在位置
        </label>
					<input v-model="location1" type="text" placeholder="请输入所在位置">
				</li>
			</ul>
			<div class="box">
				<p>
					现场照片
					<span>（最多9张）</span>
				</p>
				<div class="tianjia">
					<img src="../imgs/index_img/jiah.png" alt="">
				</div>
			</div>
			<div class="box_1">
				<p>
					备注
					<span>(选填)</span>
				</p>
				<textarea v-model="remark" name="备注" id="" cols="10" rows="5" placeholder="请输入备注内容..."></textarea>
			</div>
			<button @click="bindDevice()">绑定</button>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/axios.min.js"></script>
	<script type="text/javascript" src="../js/fetchData.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script src="../js/weui.min.js"></script>
	<script>

		function fun() {
			//      window.location.href="index.html"
		}

		var myvue = new Vue({
			el: '#app',
			data: {
				qrCode: getQueryString("params"),
				materialName: "",
				materialTypeId: "",
				materialTypeValue:'',
				producedDate: "",
				expireDate: "",
				checkSpecificId: "",
				regionId: "",
				enterpriseId: "",
				location1 :"",
				materialUrl: "",
				remark: "",
			},
			mounted:function() {
				
			},
			methods: {
				bindDevice: function() {
					let that = this
					let data = {
						data: {
							qrCode: getQueryString("params"),
							materialName: that.materialName,
							materialTypeId: that.materialTypeId,
							producedDate: that.producedDate,
							expireDate: that.expireDate,
							checkSpecificId: that.checkSpecificId,
							regionId: that.regionId,
							enterpriseId: that.enterpriseId,
							location1 :that.location1,
							materialUrl: that.materialUrl,
							remark: that.remark
						},
						url: '/app/material/bind'
					}

					fetchData(data).then(res => {
						console.log(res);
					});
				},
				getMaterialTypeList: function() {
					let that = this
					let data = {
						data: {
							
						},
						url: '/app/material/type/list',
						method: 'get'
					}

					fetchData(data).then(res => {
						console.log(res);
						var that = this
						var weData = res.data.list.map(o=>{return{value:o.id, label:o.name}});
						weui.picker(
						res.data.list.map(o=>{return{value:o.id, label:o.name}}),{
						   className: 'custom-classname',
						   container: 'body',
						   onChange: function (result) {
						   	
						   },
						   onConfirm: function (result) {
						   	   that.materialTypeValue = result[0].label;
						   	   that.materialTypeId = result[0].value;
						   },
						   id: 'materialTypeValue'
						});
					});
				},
				selectStartData:function() {
					var that = this
					weui.datePicker({
					     start: new Date(), // 从今天开始
					     end: 2030,
					     onChange: function(result){
					     	
					     },
					     onConfirm: function(result){
					         console.log(result);
					         that.producedDate = result[0]+'-'+result[1]+'-'+result[2];
					     },
					     id: 'datePicker'
					});
				},
				selectEndData:function() {
					var that = this
					weui.datePicker({
					     start: new Date(), // 从今天开始
					     end: 2030,
					     onChange: function(result){
					     	
					     },
					     onConfirm: function(result){
					         console.log(result);
					         that.expireDate = result[0]+'-'+result[1]+'-'+result[2];
					     },
					     id: 'datePicker'
					});
				},
				getCheckSpecificList:function() {
					var that = this
					if(!that.materialTypeId) {
						weui.toast('请先选择物品类型', 3000);    
						return false;
					}
					window.location.href = "xuanze_jcgf.html?materialTypeId=" + that.materialTypeId;
				}
			}
		});
	</script>

</html>