<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<title>新增检查规范</title>
	</head>
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/index_css/new_jcgf.css">
	<link rel="stylesheet" href="../css/weui.min.css">

	<body>
		<div id="app">
			<div class="title">
				<label for="">规范名称</label>
				<input v-model="specificName" type="text" placeholder="请输入规范名称">
			</div>
			<div class="box_1">
				<p>
					规范备注
				</p>
				<textarea name="备注" v-model="remark" id="" cols="10" rows="4" placeholder="请输入备注内容..."></textarea>
			</div>
			<div class="box" style="padding-bottom: 50px;">
				<p>规范备注</p>
				<p v-for="(item,index) in specificItems" v-text="(index+1)+'、'+item"></p>
				<textarea name="备注" v-model="specificCon" id="" cols="10" rows="4" placeholder="请输入检查项内容......"></textarea>
				<ul>
					<li @click="addSpecific">添加检查项</li>
					<li @click="saveSpecific">保存检查项</li>
					<li @click="consume">取消检查项</li>
				</ul>
			</div>
			<button @click="createCheckSpecific" style="position: fixed;">保存并选择该规范</button>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/axios.min.js"></script>
	<script type="text/javascript" src="../js/fetchData.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script src="../js/weui.min.js"></script>
	<script>
		var myvue = new Vue({
			el: '#app',
			data: {
				specificName: "",
				remark: '',
				specificItems: [],
				specificCon: '',
				name: "2",
			},
			mounted: function() {
				var that = this
			},
			methods: {
				saveSpecific: function() {
					let that = this

					let data = {
						data: {
							specificName: that.specificName,
							remark: that.remark,
							specificItems: JSON.stringify(that.specificItems),
							name: that.name,
						},
						url: '/app/check/specific/create'
					}

					fetchData(data).then(res => {
//
//						if(that.materialDetails.length <= 0) {
//							weui.toast('没有相关信息', 1500);
//						}
						console.log(res);

					});
				},
				createCheckSpecific: function(data) {
					var that = this
					console.log(data)
					window.location.href = "erweimabangd_qiyi.html";
				},
				addSpecific: function() {
					var that = this
					if(!that.specificCon) {
						weui.toast('请输入规范备注', 1500);
						return false;
					}
					that.specificItems.push(that.specificCon);
					console.log(that.specificItems)
				},
				consume: function() {
					var that = this
					that.specificItems = [];
					that.specificCon = '';
				},
			}
		});
	</script>

</html>